body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.App {
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 0.5s ease;
}

.container {
  background: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
}

label {
  display: block;
  margin: 10px 0 5px;
}

input[type="color"],
input[type="text"] {
  padding: 5px;
  font-size: 16px;
  margin-bottom: 20px;
}

.sliders div {
  margin: 10px 0;
}

input[type="range"] {
  width: 100%;
}

.rgbValues {
  margin-top: 20px;
}
